.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #38bff8;
  justify-content: center;
  align-items: center;
}

.main_wrapper {
  z-index: 2;
  position: absolute;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Sigmar One", cursive;
}

textarea {
  border: none;
  overflow: auto;
  outline: black;
  box-shadow: 2px 2px 2px 0px rgb(31, 31, 31);
  resize: none;
}

.input_wrapper {
  display: flex;
  align-items: center;
}

.input-field {
  width: 600px;
  height: 80px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.pidgeon-icon {
  height: 150px;
  width: 150px;
}

.text-field {
  width: 600px;
  height: 250px;
  background-color: white;
  margin-top: 50px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.translate-select {
  margin: 10px 0;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  position: relative;
  z-index: 1;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.x1 {
  animation: moveclouds 55s linear infinite;
}

.x2 {
  left: 200px;
  transform: scale(0.6);
  opacity: 0.6;
  animation: moveclouds 45s linear infinite;
}

.x3 {
  left: -250px;
  top: 200px;
  transform: scale(0.8);
  opacity: 0.8;
  animation: moveclouds 75s linear infinite;
}

.x4 {
  left: 470px;
  top: 250px;
  transform: scale(0.75);
  opacity: 0.75;
  animation: moveclouds 45s linear infinite;
}

.x5 {
  left: -150px;
  top: 150px;
  transform: scale(0.8);
  opacity: 0.8;
  animation: moveclouds 65s linear infinite;
}

.x6 {
  left: 150px;
  top: -450px;
  transform: scale(0.5);
  opacity: 0.5;
  animation: moveclouds 45s linear infinite;
}

.x7 {
  left: 150px;
  top: -550px;
  transform: scale(0.8);
  opacity: 0.8;
  animation: moveclouds 75s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-left: 2000px;
  }
  100% {
    margin-left: -2000px;
  }
}
